In [1]:
import pandas as pd
from climada.engine import Impact
import numpy as np

In [3]:
emdat = pd.read_csv('/Users/szelie/OneDrive - ETH Zurich/20211208_Multi-Impact_ZelieCarmen/emdat_public_2022_03_03_query_uid-GxMNDW.csv')

In [18]:
emdat.da

Index(['Dis No', 'Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damages ('000 US$)', 'Insured Damages, Adjusted ('000 US$)',
       'Total Damages ('000 US$)', 'Total Damages, Adjusted ('000 US$)', 'CPI',
       'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'],
      dtype='object')

In [30]:
emdat_aus = emdat[emdat['ISO'] == 'AUS'][['Year','Disaster Type', "Total Damages, Adjusted ('000 US$)"]]
emdat_aus.dropna()

       Year Disaster Type  Total Damages, Adjusted ('000 US$)
8      1980         Storm                             22905.0
9      1980         Storm                            131611.0
10     1980         Storm                             15142.0
11     1980         Storm                             45810.0
12     1980      Wildfire                             85409.0
...     ...           ...                                 ...
12888  2021         Flood                            330000.0
12889  2021         Storm                            530000.0
12890  2021      Wildfire                            120000.0
12892  2021         Flood                           2100000.0
12893  2021         Flood                            100000.0

[147 rows x 3 columns]

In [58]:
emdat_aus

     Year Disaster Type  Total Damages, Adjusted ('000 US$)
0    1980         Storm                            312136.0
1    1980      Wildfire                             85409.0
2    1981       Drought                          17880869.0
3    1981         Flood                            594584.0
4    1981         Storm                             23528.0
..    ...           ...                                 ...
102  2020         Storm                           2826841.0
103  2021         Flood                           2530000.0
104  2021         Storm                            685000.0
105  2021      Wildfire                            120000.0
106  2022         Flood                                 0.0

[107 rows x 3 columns]

In [33]:
emdat_aus = emdat_aus.groupby(['Year','Disaster Type']).sum().reset_index()

In [38]:
years = np.unique(emdat_aus.Year)

dframe = pd.DataFrame(years)

In [65]:
emdat_aus["Total Damages, Adjusted ('000 US$)"][(emdat_aus['Disaster Type']=='Storm')&(emdat_aus['Year']=='1980')]

Series([], Name: Total Damages, Adjusted ('000 US$), dtype: float64)

In [66]:
years = np.unique(emdat_aus.Year)


data = {'Year': years}  
dframe = pd.DataFrame(data)  
for disaster in np.unique(emdat_aus['Disaster Type']):
    dframe[disaster] = 0
    for year in years:
        dframe[disaster][dframe['Year']==int(year)] = emdat_aus["Total Damages, Adjusted ('000 US$)"][(emdat_aus['Disaster Type']==disaster)&(emdat_aus['Year']==int(year))]

In [67]:
dframe

,Year,Drought,Earthquake,Epidemic,Extreme temperature,Flood,Insect infestation,Landslide,Storm,Wildfire
0,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,312136.0,NaN
1,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
np.unique(emdat_aus['Disaster Type'])

array(['Drought', 'Earthquake', 'Epidemic', 'Extreme temperature',
       'Flood', 'Insect infestation', 'Landslide', 'Storm', 'Wildfire'],
      dtype=object)

In [4]:
floods_region = emdat[(~emdat["Total Damages, Adjusted ('000 US$)"].isnull())&(~emdat["Geo Locations"].isnull())][emdat['Disaster Type']=='Flood']

/var/folders/f5/lms0b90j1kx7kk4v552qkjqw0000gp/T/ipykernel_24766/2503685359.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  floods_region = emdat[(~emdat["Total Damages, Adjusted ('000 US$)"].isnull())&(~emdat["Geo Locations"].isnull())][emdat['Disaster Type']=='Flood']

In [5]:
emdat = emdat[['Year', 'Disaster Type', 'ISO',"Total Damages, Adjusted ('000 US$)"]]

In [6]:
emdat = emdat.dropna()

In [7]:
emdat = emdat[emdat['Disaster Type'].isin(['Flood', 'Wildfire', 'Storm'])]

In [8]:
emdat = emdat.groupby(['ISO','Disaster Type','Year']).sum().reset_index()

In [9]:
emdat[emdat['ISO']=='TWN']

      ISO Disaster Type  Year  Total Damages, Adjusted ('000 US$)
1853  TWN         Flood  1997                             98417.0
1854  TWN         Flood  1998                             31584.0
1855  TWN         Flood  2005                             86026.0
1856  TWN         Flood  2006                            156096.0
1857  TWN         Flood  2012                             19946.0
1858  TWN         Flood  2017                             31063.0
1859  TWN         Storm  1986                           1198999.0
1860  TWN         Storm  1992                             67590.0
1861  TWN         Storm  1994                            835441.0
1862  TWN         Storm  1996                           2245843.0
1863  TWN         Storm  1997                             84405.0
1864  TWN         Storm  1998                            214437.0
1865  TWN         Storm  2000                            448469.0
1866  TWN         Storm  2001                           1602252.0
1867  TWN         Storm  2002                                75.0
1868  TWN         Storm  2004                            584896.0
1869  TWN         Storm  2005                            331615.0
1870  TWN         Storm  2007                             78412.0
1871  TWN         Storm  2008                            179219.0
1872  TWN         Storm  2009                            315761.0
1873  TWN         Storm  2010                             90839.0
1874  TWN         Storm  2012                             41662.0
1875  TWN         Storm  2013                             71651.0
1876  TWN         Storm  2014                            480734.0
1877  TWN         Storm  2015                             29725.0
1878  TWN         Storm  2016                            203221.0
1879  TWN         Storm  2017                             19014.0
1880  TWN         Storm  2018                             36689.0

In [ ]:
emdat[emdat['ISO']=='TWN']

In [ ]:
impacts_emdat = {}
for country in emdat['ISO']:
    impacts_emdat[country]={}
    for hazard in ['Flood', 'Storm', 'Wildfire']:
        impact = Impact()
        impact.at_event = np.array(emdat[(emdat['ISO']==country)&(emdat['Disaster Type']==hazard)]["Total Damages, Adjusted ('000 US$)"])
        #impact.date = impacts_yearsets['TWN']['RF'][0].date[0:len(impact.at_event)]
        impact.frequency = np.ones(len(impact.at_event))/len(impact.at_event)
        impact.aai_agg = impact.aai_agg_from_at_event(impact.at_event,impact.frequency)
        impacts_emdat[country][hazard] = impact